* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.cont-header {
	background-color: #1e73be;
}

.header {
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}	

.cont-logo {
	padding-top: 0.4rem;
}

.navbar ul {
	margin-top: 1.5rem;
}

.navbar ul li {
	display: inline-block;
	padding: 0.4rem 0.6rem;
	height: 3rem;
}

.navbar ul .sub-menu {
	display: none;
}

.navbar ul li a {
	font-size: 0.9rem;
	color: #e0e0e0;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar ul li:hover {
	border-bottom: 5px solid #fff;
	transition: 0.2s;
}

.navbar ul .item--modificado:hover {
	border-bottom: 0;
}

.navbar ul .item--modificado:hover .sub-menu {
	width: 130px;
	display: block;
	background-color: #fff;
	position: absolute;
}

.navbar .sub-menu li a {
	color: black;
}

.cont-background {
	background-image: url(/Img/fondo.png);	
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.cont-contenido {
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	padding-left: 3.5rem;
}

.cont-contenido h2 {
	font-size: 4rem;
	font-weight:lighter;
	margin: 4rem 0 0 0;
	color: #00ffff;
	letter-spacing: 0.3em;
}

.cont-contenido .parrafo {
	font-size: 1.8rem;
	margin: 1.8rem 0;
	letter-spacing: 0.3em;
}

.cont-contenido .cont-boton a {
	font-size: 1.2rem;
	color: #fff;
	text-decoration: none;
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	border: 3px solid #fff;
	padding: 1rem;
	margin-top: 2rem;
}

.cont-contenido .cont-boton a:hover {
	background-color: #fff;
	color: #1e73be;
}

.cont-contenido .cont-version p {
	font-size: 0.7rem;
	text-transform: uppercase;
	margin: 2rem 0;
}

.cont-contenido .cont-version p .new {
	background-color: #e50099;
	padding: 3px 3px 3px 5px;
	border-radius: 5px;
	text-transform: uppercase;
}

.cont-contenido .cont-version p .cyan {
	color: #00ffff;
}

.cont-img {
	padding: 1rem 2rem;
}

.cont-img img {
	max-width: 100%;
	
}

.section {
	padding: 3.1rem 0;
}

.section .section-contenido {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7a7a7a ;
}

.section {
	border-bottom: 2px solid #c6c6c6;
}

.section .section-contenido h1 {
	font-weight: 100;
	margin: 0.7rem 0;
}

.section .section-contenido p {
	margin: 0.9rem 0;
}

.section-contenido-flex2 {
	display: flex;
	text-align: center;
}

.background {
	background-color: #f8f8f8 ;
}

.section-columna--modificar {
	border-right: 1px solid #c6c6c6;
}

.section-columna {
	padding: 0.6rem;
}

.icon {
	font-size: 3rem;
	color: #0066bb;
}

.section-contenido-flex3 {
	display: flex;
	text-align: justify;
}

.cont-img img {
	width: 100%;
}