* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.cont-header {
	background-color: #1e73be;
}

.header {
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}	

.cont-logo {
	padding-top: 0.4rem;
	
}

.navbar ul {
	margin-top: 1.5rem;
	
}

.navbar ul li {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	height: 3rem;
}

.navbar ul .sub-menu {
	display: none;
}

.navbar ul li a {
	color: #e0e0e0;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar ul li:hover {
	border-bottom: 5px solid #fff;
	transition: 0.2s;
}

.navbar ul .item--modificado:hover {
	border-bottom: 0;
}

.navbar ul .item--modificado:hover .sub-menu {
	width: 130px;
	display: block;
	background-color: #fff;
	position: absolute;
}

.navbar .sub-menu li a {
	color: black;
}

